# Bot configuration
BOT_TOKEN=your_bot_token_here
BOT_OWNERS=123456789,987654321

#Redis configuration
REDIS_PASSWORD=your_very_strong_password
ME_ADMIN_PASSWORD=your_very_strong_password


# REDIS_PASSWORD need to run Redis (logical, in principle)
# ME_ADMIN_PASSWORD need to run and auth on Redis Commander, Mongo Express etc.