# Bot configuration
BOT_TOKEN=your_bot_token_here
BOT_OWNERS=123456789,987654321

# MongoDB configuration
MONGODB_USERNAME=your_name
MONGODB_PASSWORD=your_password
MONGODB_CLUSTER_URL=your-cluster.hgfds665.mongodb.net
MONGODB_APP_NAME=your-app-name

# Logging configuration
SHOW_DATETIME=true
DATETIME_FORMAT=%Y-%m-%d %H:%M:%S
SHOW_DEBUG_LOGS=true
TIME_IN_UTC=false
RENDERER=console
USE_COLORS_IN_CONSOLE=true

# Localization configuration
LOCALE=ru
FALLBACK_LOCALE=ru
LOCALES_PATH=l10n

# Throttle configuration
ENABLED=true
RATE_LIMIT=0.5
MAX_USERS=10000

TZ=UTC

#Redis configuration
REDIS_PASSWORD=your_very_strong_password
ME_ADMIN_PASSWORD=your_very_strong_password


# REDIS_PASSWORD need to run Redis (logical, in principle)
# ME_ADMIN_PASSWORD need to run and auth on Redis Commander, Mongo Express etc.